*{
	/* Colorscheme */
	background-alt:					#5b626f;
	background:						#121316;
	foreground:						#c3c4c4;
	selected:						#714c36;
	active:							#714c36;
	urgent:							#53694b;
	alert:							#6e412d;
	disabled:						#8f8f9a;
}

