*{
	/* Colorscheme */
	background-alt:					#816a6b;
	background:						#372223;
	foreground:						#cdc7c8;
	selected:						#D6B38E;
	active:							#D6B38E;
	urgent:							#F8B28D;
	alert:							#BEAE89;
	disabled:						#a49b9c;
}

